<a href="https://colab.research.google.com/github/henriqueabatista/PA_python/blob/main/aula_PA_1C/atividade_11_08.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Henrique Araujo Batista
Turma: Manhã

In [18]:
# Exercício 1 inserir os seus dados acima em variáveis
nome = "Henrique Batista"
turma = "Manhã"

In [19]:
# Exercício 2 -Apos inserir dados acima usando o slicing (exemplo no notebook de manipulação de Strings), imprima na tela apenas seu sobrenome
print(nome[8::])

 Batista

In [21]:
# Exercício 3 -  imprima seu nome de trás pra frente
print(nome[::-1])

atsitaB euqirneH

In [24]:

# Exercício 4 - pegue a frase abaixo, aplique o split para fazer uma quebra toda vez que encontrar uma ","
frase = "Python é a linguagem ideal para o primeiro contato com programação, além da sua sintaxe simples e muito poderosa, Python tem diversas aplicações como: desenvolvimento web, análise de dados, inteligência artificial e automatização de tarefas, neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem, a comunidade Python é a que mais cresce, assim como sua demanda de profissionais no mercado."
frase.split(',')

['Python é a linguagem ideal para o primeiro contato com programação',
 ' além da sua sintaxe simples e muito poderosa',
 ' Python tem diversas aplicações como: desenvolvimento web',
 ' análise de dados',
 ' inteligência artificial e automatização de tarefas',
 ' neste curso você aprenderá a lógica de programação para conquistar fluência na linguagem',
 ' a comunidade Python é a que mais cresce',
 ' assim como sua demanda de profissionais no mercado.']

In [26]:
# Exercício 5 -Imprima na tela os números de 1 a 10. Use uma lista para armazenar os números.
for i in range (1,11):
  print(i)

1
2
3
4
5
6
7
8
9
10

In [27]:
# Exercício 6 - Crie uma lista de 5 objetos e imprima na tela
objetos = ["tesoura", "faca", "caderno", "blusa", "copo"]

In [29]:
print(objetos)

['tesoura', 'faca', 'caderno', 'blusa', 'copo']

In [32]:
# Exercício 7 - - Crie duas strings e concatene as duas em uma terceira string
a = "Henrique "
b = "Batista"
c = a + b
print(c)

Henrique Batista

In [35]:
# Exercício 8 - Crie uma tupla com os seguintes elementos: 1, 2, 2, 3, 4, 4, 4, 5 e depois utilize a função count do
# objeto tupla para verificar quantas vezes o número 4 aparece na tupla
tupla = (1, 2, 2, 3, 4, 4, 4, 5)

tupla.count(4)

3

In [42]:
# Exercício 9 - Crie um dicionário vazio e imprima na tela
meudicionario = {

}

In [60]:
# Exercício 10 - Crie um dicionário com 3 chaves e 3 valores e imprima na tela
meudicionario = {
    "nome": "Henrique",
    "idade": 16,
    "notas": [5, 6, 7]
}

print(meudicionario)

{'nome': 'Henrique', 'idade': 16, 'notas': [5, 6, 7]}

In [69]:
# Exercício 11 - Adicione mais um elemento ao dicionário criado no exercício anterior e imprima na tela
meudicionario ["Time"]="Corinthians"

In [70]:
print(meudicionario)

{'nome': 'Henrique', 'idade': 16, 'notas': [5, 6, 7], 'Time': 'Corinthians'}

In [71]:
# Exercício 12 - Crie um dicionário com 3 chaves e 3 valores. Um dos valores deve ser uma lista de 2 elementos numéricos.
# Imprima o dicionário na tela.
dicionario = {
    "nome": "Henrique",
    "idade": 16,
    "nascimento": [8, 8, 2009]
}

print(dicionario)

{'nome': 'Henrique', 'idade': 16, 'nascimento': [8, 8, 2009]}

In [75]:
# Exercício 13 - Crie uma lista de 4 elementos. O primeiro elemento deve ser uma string,
# o segundo uma tupla de 2 elementos, o terceiro um dcionário com 2 chaves e 2 valores e
# o quarto elemento um valor do tipo float.
# Imprima a lista na tela.
minhalista = [
    "Olá",
    (10, 20),
    {"nome": "Be", "idade": 36},
    3.14
]

print(minhalista)

['Olá', (10, 20), {'nome': 'Be', 'idade': 36}, 3.14]

In [82]:
# Exercício 14 - Considere a string abaixo. Imprima na tela apenas os caracteres da posição 1 a 18.
frase = 'Cientista de Dados é o profissional mais legal do século XXI'

print(frase[1:18])

ientista de Dados

**Manipulação de string**

In [36]:
x = "Hello World"
print(len(x))

11

In [37]:
txt = "Hello World"
x = txt[0]
print(x)

H

In [38]:
txt = "Hello World"
x = txt[2:5]
print(x)

llo

In [39]:
txt = "Hello World"
x = txt.upper()
print(x)

HELLO WORLD

In [40]:
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.count('de')

3

In [41]:
txt = "Eu gosto de vijar, tomar vinho, de estudar estudar programação, de estudar Pyhon"
txt.split(",")

['Eu gosto de vijar',
 ' tomar vinho',
 ' de estudar estudar programação',
 ' de estudar Pyhon']